body {
	color: #EEE;
	background-color: #414141;
}

a {
	color: #EDED00;
	padding: 4px;
	border: 2px solid #6360ee;
	background-color: #313131;
}

p {
	background-color: #313131;
	padding-left: 20px;
	padding-right:20px;
}
.content ol {
	background-color: #313131;
	padding-left: 40px;
	padding-right: 20px;
}
.content ul {
	background-color: #313131;
	padding-left: 40px;
	padding-right: 20px;
}


h1, h2 {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	background-color: #313131;
	display: inline;
	border: 2px solid #dd6063;
	border-radius: 5px;
}

h1 {
	padding-left:20px;
	padding-right:20px;
	font-size: 25px;
}

.button {
	color: #B5EDED;
	background-color: #313131;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	border: 2px solid #515196;    /* Dark gray */
	border-radius: 5px;

	width: 200px;
	margin: 20px auto;
}


.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height:auto;
	position: fixed;
	border: 1px solid #555;
	background-color: #313131;
}
.navgation a {
	display: block;
	text-decoration:none;
}
.navigation a:hover {
	background-color:#555;
	color:white;
}
.navigation li {
	float:left;
	text-align: center;
	border-right: 1px solid #555;
	padding:10px;
}
.navigation li:first-child {
	border-right:none;
}
/*.navigation li:last-child {
	border-right: none;
}*/
.active {
	background-color: #4caf50;
	color:white;
}
body {
	padding-top:40px;
}


#aboutTitle {
	margin-left:50px;
	margin-top:50px;
}

h2 {
	padding-left:10px;
	padding-right:10px;
	font-size: 20px;
}


ul {
	list-style-type: circle;
}

ol {
	list-style-type: lower-roman;
}


.footer, .content, .menu {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.footer {
	text-align:center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:#313131;
}

.content {
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
	flex-direction:row;
}

#about {
	order: 0;
	flex:1;
	border: 2px solid #363;
}
#qualifications {
	order: 1;
	flex:1;
	border: 2px solid #363;
}
#contact {
	order: 3;
	flex:1;
	border: 2px solid #363;
}

#footer {
	width:100%;
	background-color:transparent;
}

.dropdown {
	position: relative;
	background-color: #313131;
	border-left: 1px solid #555;
}
.dropdown > span {
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.labs-menu {
	display:none;
}
.dropdown:hover .labs-menu {
	display: flex;
	flex-direction: column;
	align-items:center;
	padding-top: 60px;
	
	position: absolute;
	top: -19px;
	left: -41px;
	z-index: 1;
}
.labs-menu ul {
	padding-left: 0;
	padding-right: 0;
}
.labs-menu li {
	list-style: none;
	border: 1px solid #555;
	/*width: 50px;*/
	background-color: #313131;
	
	padding: 10px 10px 10px 10px;
	margin: 0px;
}
.labs-meni li:last-of-type {
	border-bottom: none;
}
#longDropdown {
	padding-left: 20px;
	padding-right: 20px;
}